{% extends "store/base.html" %} 

{% block content %}
<div class="banner">
    <div class="homepageContainer">
        <div class="bannerHeader">
            <h1>IMS</h1>
            <p>Medical Shop Management System</p>
        </div>
        <p class="bannerTagline">
            Track your goods throughout your entire supply chain,from<br>
            purchasing to production to end sales.
        </p>
   </div>
</div>
<div class="homepageContainer">
    <div class="homepageFeatures">
        <div class="homepageFeature">
            <span class="featureIcon"><i class="fa fa-gear"></i></span>
            <h3 class="featureTitle">Editable Theme</h3>
            <p class="featureDescription">Lorem Ipsum is simply dummy text of the printing and </p>
        </div>
        
        <div class="homepageFeature">
            <span class="featureIcon"><i class="fa fa-star"></i></span>
            <h3 class="featureTitle">Flat Design</h3>
            <p class="featureDescription">Lorem Ipsum is simply dummy text of the printing and </p>
        </div>

        <div class="homepageFeature">
            <span class="featureIcon"><i class="fa fa-globe"></i></span>
            <h3 class="featureTitle">Reach Your Audiance</h3>
            <p class="featureDescription">Lorem Ipsum is simply dummy text of the printing and</p>
        </div>
    </div>
</div>
  


{% endblock %}
